<div class="container">
  <div>
    <mat-form-field class="form-field">
      <input id="username"
             matInput
             placeholder="Username"
             (keyup)="updateUsername($event.target.value)"/>
    </mat-form-field>
  </div>

  <br/>

  <div>
    <mat-form-field class="form-field">
      <input id="password"
             matInput
             type="password"
             placeholder="Password"
             (keyup)="updatePassword($event.target.value)"/>
    </mat-form-field>
  </div>

  <button mat-raised-button
          color="primary"
          id="login"
          (click)="login()">Login
  </button>

  <br/>

  <a routerLink="/home/signup">
    <button mat-button
            color="basic"
            id="signup">Sign Up
    </button>
  </a>
</div>
