.container {
  text-align: center;
  padding-top: 100px;
}

.form-field {
  display: inline-block;
  width: 400px;
}

#login {
  width: 400px;
  margin-top: 10px;
}

#signup {
  width: 400px;
  margin-top: 10px;
}
