<mat-card>

  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>

      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="memoryChartOptions"
        [callbackFunction]="memoryChartCallback"
        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>

    </mat-grid-tile>
    <mat-grid-tile>

      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="cpuChartOptions"
        [callbackFunction]="cpuChartCallback"
        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>

    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
