<mat-card>

  <mat-list>
    <h3 mat-subheader>Tasks</h3>

    <mat-list-item *ngFor="let task of tasks" [routerLink]="['./', task.id]">
      <mat-icon mat-list-icon>device_hub</mat-icon>
      <h4 mat-line>{{task.name}}</h4>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Generate CI Token</span>
        </button>
      </mat-menu>

    </mat-list-item>
  </mat-list>

</mat-card>
