/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~xterm/dist/xterm.css";

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5C562;
}

.editor-container {
  height: 100% !important;
}

.highcharts-container {
  margin: 0 auto;
}

mat-sidenav-container {
  min-height: 100vh;
}
